.centertext {
    text-align: center;
}

.circus-yellow {
    background: #fbb03b;
    color: white;
}

.circus-yellow md-button :hover {
    background-color: #FFD087;
}

.circus-yellow > .tabs-header {
    background: #fbb03b;
    color: white;
}

.circus-yellow md-tab {
    background: #fbb03b;
}

.circus-yellow md-tab-label {
    color: #f0f0f0;
}

.circus-yellow .active md-tab-label {
    color: #ffffff;
}

.circus-yellow md-tab.active {
    background: #fbb03b;
    color: white;
}


.circus-yellow .md-ripple-container{
    color: #45b797 !important;
}

.circus-logo {
    width: 100%;
    max-width: 600px;
}

.circus-card {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    text-align: justify;
    font-family: "RobotoDraft","Helvetica Neue",Helvetica,Arial;
}

.pad-inner > img, a {
    margin: 5px;
}

md-tab a {
    color: white;
    text-decoration: none;
}

md-button a {
    color: white;
    text-decoration: none;
}

.skill-chip {
    padding: 5px 10px 6px;
    background-color: #dbdbdb;
    border-radius: 25px;
    color: #424242;
    margin-left: 2px;
    margin-right: 2px;
    height: 30px;
    display: inline-block;
    position: relative;
}

.skill-chip .skill-picture {
    height: 26px;
    width: 26px;
    display: inline;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 26px;
    background-repeat: no-repeat;
    background-size: cover;
}

.skill-chip .skill-name {
    padding-left: 25px;
}

.circus-hirebutton {
    width: 150px;
    height: 40px;
    background-color: #fbb03b !important;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.circus-hirebutton.focus {
    background-color: #FFD087 !important;
}

