.centertext {
    text-align: center;
}

.circus-yellow {
    background: #fbb03b;
    color: white;
}

.circus-yellow md-button :hover {
    background-color: #FFD087;
}

.circus-yellow > .tabs-header {
    background: #fbb03b;
    color: white;
}

.circus-yellow md-tab {
    background: #fbb03b;
    color: #FFEED4;
}

.circus-yellow md-tab.active {
    background: #fbb03b;
    color: white;
}


.circus-yellow .md-ripple-container{
    color: #45b797;
}
.circus-yellow .md-ripple-container{
    color: #45b797;
}

.circus-logo {
    width: 100%;
    max-width: 600px;
}

.circus-card {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    text-align: justify;
}

.pad-inner > img, a {
    margin: 5px;
}

md-tab a {
    color: white;
    text-decoration: none;
}

md-button a {
    color: white;
    text-decoration: none;
}

.skill-chip {
    padding: 5px 10px;
    background-color: #cbcbcb;
    border-radius: 25px;
    color: #424242;
    margin-left: 2px;
    margin-right: 2px;
}

