<link rel="stylesheet" href="performer/performer.css">


<md-card class="performer">
    <div class="heading">
        <h4>{{performer.name}}</h4>
        <br/>
        <span class="skill-chip" ng-repeat="skill in performer.skills">{{skill}}</span>
    </div>
    <div class="picture" style="background-image: url({{current_image()}})">
        <div class="rightbutton" ng-click="next_image()"></div>
        <div class="leftbutton" ng-click="prev_image()"></div>
        <div class="hirebutton">Hire</div>
    </div>
</md-card>