<md-card class="performer">
    <div class="heading">
        <h4>{{performer.name}}</h4>
        <br/>
        <span class="skill-chip" ng-repeat="skill in performer.skills">
            <span class="skill-picture" style="background-image: url({{skill.picture}})"></span>
            <span class="skill-name">{{skill.name}}</span>
        </span>
    </div>
    <div class="picture" style="background-image: url({{current_image()}})">
        <div class="rightbutton" ng-click="next_image()"></div>
        <div class="leftbutton" ng-click="prev_image()"></div>
        <div class="hirebutton" ng-click="gohire()">Hire</div>
    </div>
</md-card>