<md-content class="md-content-padding hire" ng-controller="HireController">
    <md-card class="circus-card">
        <h3>Hire us for your event!</h3>
        <br />
        We'd love to perform at your next event. Fill in a few details below, and we'll get back to you.
        <form novalidate name="hireform">
            <div layout="row">
                <div>
                    <md-text-float type="email" required label="Email" ng-model="hire_request.email"></md-text-float>
                    <md-text-float label="Event location" ng-model="hire_request.location"></md-text-float>
                </div>
                <div flex="10"></div>
                <div>
                    <md-checkbox
                            ng-repeat="skill in skills"
                            aria-label="Checkbox 1"
                            ng-click="toggleSelection(skill.name)">{{skill.name}}</md-checkbox>
                    <h4 ng-show="show_price" class="centered-price">Price estimate: ${{price()}}</h4>
                </div>
            </div>
            <div layout="row">
                <md-button class="md-primary md-raised circus-hirebutton" layout-align="center" ng-click="gohire()">
                    Hire us
                </md-button>
            </div>
        </form>
    </md-card>
</md-content>
